@import "reset.css";
.inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 7px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2b1055), to(#7597de));
  background: linear-gradient(to top, #2b1055, #7597de);
  -webkit-animation: scrollani 5s linear infinite;
          animation: scrollani 5s linear infinite;
  z-index: 9000;
}
#scrollbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#2b1055), to(#7597de));
  background: linear-gradient(to top, #2b1055, #7597de);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
#scrollbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#2b1055), to(#7597de));
  background: linear-gradient(to top, #2b1055, #7597de);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

#cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

@-webkit-keyframes scrollani {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes scrollani {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
#Wrap {
  width: 100%;
  height: 100%;
}
#Wrap .lodingBox {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #121212;
  z-index: 9999;
}
#Wrap .lodingBox .loading {
  position: relative;
  width: 300px;
  height: 300px;
}
#Wrap .lodingBox .loading a {
  width: 200px;
  display: block;
  position: relative;
  margin: 80px auto;
  z-index: 9000;
  color: #fff;
  text-align: center;
  font-family: "Nanum";
}
#Wrap .lodingBox .loading a:hover ~ span::before {
  -webkit-box-shadow: 0 0 20px #f5cef1, -200px -200px 0 #f5cef1, -200px -200px 20px #f5cef1, 200px 200px 0 #f5cef1, 200px 200px 20px #f5cef1, 200px -200px 0 #f5cef1, 200px -200px 20px #f5cef1, -200px 200px 0 #f5cef1, -200px 200px 20px #f5cef1;
          box-shadow: 0 0 20px #f5cef1, -200px -200px 0 #f5cef1, -200px -200px 20px #f5cef1, 200px 200px 0 #f5cef1, 200px 200px 20px #f5cef1, 200px -200px 0 #f5cef1, 200px -200px 20px #f5cef1, -200px 200px 0 #f5cef1, -200px 200px 20px #f5cef1;
  -webkit-transform-origin: 250px;
          transform-origin: 250px;
}
#Wrap .lodingBox .loading a:hover h3 {
  opacity: 1;
}
#Wrap .lodingBox .loading a > h2 {
  position: relative;
  font-size: 48px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: lodingtext 1s ease-in-out forwards;
          animation: lodingtext 1s ease-in-out forwards;
  background: transparent;
  text-shadow: -5px 5px #a499f2;
}
#Wrap .lodingBox .loading a > h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: Textline 1s ease-in-out forwards;
          animation: Textline 1s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#Wrap .lodingBox .loading a h3 {
  position: relative;
  font-size: 48px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: lodingtext 1s ease-in-out forwards;
          animation: lodingtext 1s ease-in-out forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#Wrap .lodingBox .loading a h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation: Textline 1s ease-in-out forwards;
          animation: Textline 1s ease-in-out forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes Textline {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@keyframes Textline {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
@-webkit-keyframes lodingtext {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes lodingtext {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
#Wrap .lodingBox .loading span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(36deg * var(--i)));
          transform: rotate(calc(36deg * var(--i)));
}
@-webkit-keyframes loder {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes loder {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
#Wrap .lodingBox .loading span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid #f5cef1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 20px #f5cef1, -30px -30px 0 #f5cef1, -30px -30px 20px #f5cef1, 30px 30px 0 #f5cef1, 30px 30px 20px #f5cef1, 30px -30px 0 #f5cef1, 30px -30px 20px #f5cef1, -30px 30px 0 #f5cef1, -30px 30px 20px #f5cef1;
          box-shadow: 0 0 20px #f5cef1, -30px -30px 0 #f5cef1, -30px -30px 20px #f5cef1, 30px 30px 0 #f5cef1, 30px 30px 20px #f5cef1, 30px -30px 0 #f5cef1, 30px -30px 20px #f5cef1, -30px 30px 0 #f5cef1, -30px 30px 20px #f5cef1;
  -webkit-animation: loder 5s linear infinite;
          animation: loder 5s linear infinite;
  -webkit-animation-delay: calc(-0.25s * var(--i));
          animation-delay: calc(-0.25s * var(--i));
  -webkit-transform-origin: 20px;
          transform-origin: 20px;
  -webkit-transition: 2s;
  transition: 2s;
}
#Wrap .load1 {
  width: 100%;
  height: 100%;
  background: #DBA2F6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9900;
}
#Wrap header {
  width: 100%;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9800;
  top: 0;
  left: 0;
}
#Wrap header .logo {
  width: 100px;
  height: 60px;
  margin: 0 50px;
}
#Wrap header .logo > h1 {
  margin-top: 5px;
}
#Wrap header .logo > h1 a {
  color: #fff;
  font-size: 60px;
  font-family: "New";
  text-indent: 10px;
  display: block;
}
#Wrap .gnb {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 8000;
  left: 2%;
}
#Wrap .gnb ul li {
  display: block;
  margin-bottom: 40px;
}
#Wrap .gnb ul li.active a {
  color: #fff;
  font-weight: 700;
}
#Wrap .gnb ul li a {
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
}
#Wrap #contentBox {
  width: 100%;
  height: 100%;
}
#Wrap #contentBox #cnt1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
#Wrap #contentBox #cnt1 .parallaximg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b1055), to(#7597de));
  background: linear-gradient(#2b1055, #7597de);
}
#Wrap #contentBox #cnt1 .parallaximg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#Wrap #contentBox #cnt1 .parallaximg img.moon {
  mix-blend-mode: screen;
}
#Wrap #contentBox #cnt1 .cnt1_title {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 720px;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 6em;
  text-align: center;
  text-shadow: 1px 1px 0 #121212;
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
#Wrap #contentBox #cnt2 {
  width: 100%;
  height: 100%;
  background: #121212;
}
#Wrap #contentBox #cnt2 .inner .profile {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 150px;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_title {
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 68px;
  color: #fff;
  letter-spacing: 10px;
  padding: 80px 0;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_imgbox {
  margin-right: 200px;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_imgbox img {
  width: 100%;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_text {
  width: 50%;
  color: #f5f5f5;
  line-height: 1.7;
  word-break: keep-all;
  font-size: 20px;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_text p {
  font-family: "Noto";
  font-weight: 300;
  letter-spacing: -2px;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_text p:first-child {
  padding-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}
#Wrap #contentBox #cnt2 .inner .profile .cnt2_text p span {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
}
#Wrap #contentBox #cnt2 .inner .profile .info {
  width: 100%;
  margin-top: 50px;
  letter-spacing: 2px;
  position: relative;
}
#Wrap #contentBox #cnt2 .inner .profile .info h3 {
  color: #f5f5f5;
  font-size: 38px;
}
#Wrap #contentBox #cnt2 .inner .profile .info h3::after {
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background: #fff;
  margin-top: 10px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox {
  width: 100%;
  height: 200px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div {
  padding: 30px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div > div {
  line-height: 32px;
  padding-bottom: 15px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div > div span {
  padding-left: 15px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div .git a:hover {
  color: #fff;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div .portfolio {
  position: absolute;
  right: 5%;
  bottom: 5%;
  font-family: "Nanum";
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div .portfolio > a:first-child {
  padding-right: 10px;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div .portfolio > a:hover {
  color: #fff;
}
#Wrap #contentBox #cnt2 .inner .profile .info .cnt2_infobox > div .portfolio > a > span {
  padding-left: 0;
}
#Wrap #contentBox #cnt3 {
  width: 100%;
  height: 100%;
  background: #121212;
}
#Wrap #contentBox #cnt3 .inner .skill {
  padding-left: 150px;
}
#Wrap #contentBox #cnt3 .inner .skill .cnt3_title {
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 68px;
  color: #fff;
  letter-spacing: 10px;
  padding: 80px 0;
}
#Wrap #contentBox #cnt3 .inner .skill .skcolor {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#Wrap #contentBox #cnt3 .inner .skill .skcolor li:first-child::after {
  content: "";
  width: 100px;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#00ff00), color-stop(70%, #ff8000));
  background: linear-gradient(to right, #00ff00, #ff8000 70%);
  display: inline-block;
  margin: 0 20px;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox {
  margin-top: 50px;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li {
  width: 33.33%;
  height: 150px;
  line-height: 150px;
  color: #fff;
  font-size: 28px;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:hover {
  color: #00ff00;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(3):hover {
  color: #6ec900;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(4):hover {
  color: #bea000;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(5):hover {
  color: #6ec900;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(6):hover {
  color: #ff8000;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(7):hover {
  color: #bea000;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(8):hover {
  color: #bea000;
}
#Wrap #contentBox #cnt3 .inner .skill .skBox .skList li:nth-child(9):hover {
  color: #bea000;
}
#Wrap #contentBox #cnt4 {
  width: 100%;
  height: 100%;
  background: blue;
}
#Wrap #contentBox #cnt5 {
  width: 100%;
  height: 100%;
  background: green;
}