@import "reset.css";
@-webkit-keyframes line-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes line-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@-webkit-keyframes line-mid {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes line-mid {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes line-bot {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes line-bot {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes line-top-rotate {
  0% {
    -webkit-transform: translateY(10px) rotateZ(0deg);
            transform: translateY(10px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotateZ(45deg);
            transform: translateY(10px) rotateZ(45deg);
  }
}
@keyframes line-top-rotate {
  0% {
    -webkit-transform: translateY(10px) rotateZ(0deg);
            transform: translateY(10px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(10px) rotateZ(45deg);
            transform: translateY(10px) rotateZ(45deg);
  }
}
@-webkit-keyframes line-bot-rotate {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(0deg);
            transform: translateY(-10px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotateZ(135deg);
            transform: translateY(-10px) rotateZ(135deg);
  }
}
@keyframes line-bot-rotate {
  0% {
    -webkit-transform: translateY(-10px) rotateZ(0deg);
            transform: translateY(-10px) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateY(-10px) rotateZ(135deg);
            transform: translateY(-10px) rotateZ(135deg);
  }
}
.innerbox {
  width: 90%;
  height: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .innerbox {
    width: 95%;
  }
}

header {
  width: 100%;
  z-index: 9999;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .top {
  height: 80px;
  background-color: #121212;
}
@media screen and (max-width: 767px) {
  header .top {
    height: 60px;
  }
}
header .top .innerbox .logo {
  width: 140px;
  margin: 0 auto;
  padding: 10px 0;
}
@media screen and (max-width: 767px) {
  header .top .innerbox .logo {
    width: 90px;
  }
}
header .top .innerbox .logo a {
  display: block;
}
header .top .innerbox .logo a img {
  width: 100%;
}
header .top .innerbox > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  header .top .innerbox > ul {
    width: 70px;
  }
}
@media screen and (max-width: 1180px) {
  header .top .innerbox > ul {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
header .top .innerbox > ul li {
  width: 28px;
}
@media screen and (max-width: 767px) {
  header .top .innerbox > ul li {
    display: none;
  }
}
header .top .innerbox > ul li a {
  display: block;
}
header .top .innerbox > ul li a img {
  width: 100%;
}
header .top .innerbox .ham_Btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  z-index: 9000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .top .innerbox .ham_Btn.active {
  left: 70%;
}
@media screen and (max-width: 480px) {
  header .top .innerbox .ham_Btn.active {
    left: 60%;
  }
}
@media screen and (max-width: 1180px) {
  header .top .innerbox .ham_Btn {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  header .top .innerbox .ham_Btn {
    width: 60px;
    height: 60px;
  }
}
header .top .innerbox .ham_Btn .line_box {
  width: 35px;
  height: 26px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  header .top .innerbox .ham_Btn .line_box {
    width: 30px;
    height: 23px;
  }
}
header .top .innerbox .ham_Btn .line_box .line {
  width: 35px;
  height: 5px;
  background: white;
  margin-bottom: 5px;
  border-radius: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .top .innerbox .ham_Btn .line_box .line.active {
  background: #121212;
}
@media screen and (max-width: 767px) {
  header .top .innerbox .ham_Btn .line_box .line {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
  }
}
header .top .innerbox .ham_Btn .line_box .line_top {
  -webkit-animation: line-top 0.3s forwards ease-out, line-top-rotate 0.3s 0.5s forwards ease-out;
          animation: line-top 0.3s forwards ease-out, line-top-rotate 0.3s 0.5s forwards ease-out;
}
header .top .innerbox .ham_Btn .line_box .line_mid {
  -webkit-animation: line-mid 0.3s forwards ease-out;
          animation: line-mid 0.3s forwards ease-out;
}
header .top .innerbox .ham_Btn .line_box .line_bot {
  -webkit-animation: line-bot 0.3s forwards ease-out, line-bot-rotate 0.3s 0.5s forwards ease-out;
          animation: line-bot 0.3s forwards ease-out, line-bot-rotate 0.3s 0.5s forwards ease-out;
}
header .top .m_nav {
  position: absolute;
  width: 80%;
  height: 100vh;
  background: white;
  top: 0;
  left: -100%;
  z-index: 8000;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: none;
}
@media screen and (max-width: 1180px) {
  header .top .m_nav {
    display: block;
  }
}
header .top .m_nav.active {
  left: 0;
}
header .top .m_nav .m_menu {
  width: 100%;
  position: relative;
  top: 80px;
}
@media screen and (max-width: 767px) {
  header .top .m_nav .m_menu {
    top: 60px;
  }
}
header .top .m_nav .m_menu li {
  display: block;
}
header .top .m_nav .m_menu li a {
  display: block;
  padding: 28px 0;
  text-indent: 5%;
  color: #121212;
  font-size: 22px;
  border-bottom: 1px solid black;
}
header .top .m_nav .m_icon {
  position: relative;
  top: 79px;
  margin-top: 70px;
}
header .top .m_nav .m_icon li {
  width: 100%;
  padding: 15px 0;
}
header .top .m_nav .m_icon li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-indent: 5%;
}
header .top .m_nav .m_icon li a i {
  width: 28px;
  display: inline-block;
  margin-left: 5%;
}
header .top .m_nav .m_icon li a i img {
  width: 100%;
}
header .top .m_nav .m_icon li a span {
  width: 20%;
  text-indent: 20px;
}
@media screen and (max-width: 767px) {
  header .top .m_nav .m_icon li a span {
    width: 50%;
  }
}
header nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
header nav .innerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}
@media screen and (max-width: 1180px) {
  header nav .innerbox {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  header nav .innerbox {
    height: 60px;
  }
}
@media screen and (max-width: 1180px) {
  header nav .innerbox .search_box {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 2%;
  }
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box {
    left: 12px;
  }
}
header nav .innerbox .search_box.active .input_box {
  width: 200px;
  background: black;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}
header nav .innerbox .search_box.active .input_box .search_input {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
header nav .innerbox .search_box.active .input_box .search_icon {
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box.active .input_box {
    width: 150px;
  }
}
header nav .innerbox .search_box .input_box {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 24px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box .input_box {
    width: 36px;
    height: 36px;
  }
}
header nav .innerbox .search_box .input_box .search_input {
  width: 100%;
  height: 42px;
  padding: 0px 20px 0 50px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Noto-sans";
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  color: #525252;
  line-height: 20px;
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
  -webkit-transition: all 0.2s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition: all 0.2s cubic-bezier(0, 0.105, 0.035, 1.57);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box .input_box .search_input {
    height: 36px;
  }
}
header nav .innerbox .search_box .input_box .search_icon {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #eee;
  padding: 0px;
  outline: none;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box .input_box .search_icon {
    width: 36px;
    height: 36px;
  }
}
header nav .innerbox .search_box .input_box .search_icon img {
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width: 767px) {
  header nav .innerbox .search_box .input_box .search_icon img {
    width: 18px;
  }
}
header nav .innerbox .nav {
  width: 650px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1180px) {
  header nav .innerbox .nav {
    display: none;
  }
}
header nav .innerbox .nav li {
  width: 100px;
  text-align: center;
}
header nav .innerbox .nav li:hover a {
  color: #e8e8e8;
}
header nav .innerbox .nav li a {
  width: 100%;
  display: block;
  padding: 20px 0;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header nav .innerbox .nav_icon {
  width: 80px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .nav_icon {
    display: none;
  }
}
@media screen and (max-width: 1180px) {
  header nav .innerbox .nav_icon {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
header nav .innerbox .nav_icon li {
  width: 28px;
}
@media screen and (max-width: 767px) {
  header nav .innerbox .nav_icon li {
    width: 24px;
  }
}
header nav .innerbox .nav_icon li a {
  display: block;
}
header nav .innerbox .nav_icon li a img {
  width: 100%;
}

footer {
  height: auto;
  background: #0f4c81;
  padding: 25px 0;
}
footer .innerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
footer .innerbox h3 {
  width: 100%;
  font-family: "jost";
  font-weight: 800;
  font-size: 36px;
  color: #f5f5f5;
  padding: 10px 0 5px 0;
}
@media screen and (max-width: 767px) {
  footer .innerbox h3 {
    font-size: 24px;
  }
}
footer .innerbox address {
  width: auto;
  padding-right: 150px;
}
@media screen and (max-width: 1380px) {
  footer .innerbox address {
    padding-right: 80px;
  }
}
@media screen and (max-width: 767px) {
  footer .innerbox address {
    font-size: 12px;
    padding-right: 0;
  }
}
footer .innerbox address p {
  color: #f5f5f5;
  padding: 5px 0;
  position: relative;
}
footer .innerbox .contact {
  width: auto;
  margin-top: -30px;
  padding-right: 150px;
  text-align: center;
}
@media screen and (max-width: 1380px) {
  footer .innerbox .contact {
    padding-right: 80px;
  }
}
@media screen and (max-width: 874px) {
  footer .innerbox .contact {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  footer .innerbox .contact {
    padding-bottom: 10px;
  }
}
footer .innerbox .contact h4 {
  font-family: "Noto-sans";
  font-weight: 800;
  font-size: 20px;
  color: #f5f5f5;
  width: 100%;
  padding-bottom: 15px;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  footer .innerbox .contact h4 {
    font-size: 14px;
  }
}
footer .innerbox .contact div {
  font-family: "Noto-sans";
  font-weight: 400;
  font-size: 15px;
  color: #f5f5f5;
  padding: 3px 5px;
}
@media screen and (max-width: 874px) {
  footer .innerbox .contact div {
    padding: 3px 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  footer .innerbox .contact div {
    font-size: 12px;
  }
}
footer .innerbox .contact div p {
  padding: 3px 0;
}
footer .innerbox .foot_menu {
  width: auto;
  margin-top: -30px;
  text-align: center;
}
@media screen and (max-width: 666px) {
  footer .innerbox .foot_menu {
    text-align: left;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 1152px) {
  footer .innerbox .foot_menu {
    margin-top: 20px;
  }
}
@media screen and (max-width: 874px) {
  footer .innerbox .foot_menu {
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  footer .innerbox .foot_menu {
    display: none;
  }
}
footer .innerbox .foot_menu h4 {
  font-family: "Noto-sans";
  font-weight: 800;
  font-size: 20px;
  color: #f5f5f5;
  text-decoration: underline;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  footer .innerbox .foot_menu h4 {
    font-size: 16px;
  }
}
footer .innerbox .foot_menu div {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .innerbox .foot_menu div p {
  padding: 7px 0;
  width: 50%;
}
footer .innerbox .foot_menu div p a {
  font-family: "Noto-sans";
  font-weight: 400;
  font-size: 15px;
  color: #f5f5f5;
}
@media screen and (max-width: 767px) {
  footer .innerbox .foot_menu div p a {
    font-size: 12px;
  }
}
footer .innerbox .copy {
  position: absolute;
  right: 0;
  bottom: -20px;
}
@media screen and (max-width: 767px) {
  footer .innerbox .copy {
    left: 0;
  }
}
footer .innerbox .copy p {
  font-size: 12px;
  color: #f5f5f5;
}
footer .innerbox .copy span {
  font-size: 6px;
  color: #f5f5f5;
}